<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<h1>About this website and the new technology behind it...</h1>
<p>I have found the I Ching to be an invaluable source of wisdom and insight. I hope this tool will help make it more accessible to others.</p>
<p>This is a minimal prototype of a new "I Ching engine". Just ask a question (or append the first and last hexagram numbers to the URL, such as 12/1/) and it will assemble a complex reading for you.</p>
<p>The front-end website is deliberately minimal, showing only the core functionality. This will be customised in the future.</p>
<p>The purpose of this website is to exhibit the functionality of the back-end engine, which is a relational database (MySQL) with a schema that encodes the structure of the I Ching and the associated text fragments.</p>
<p>This enables one to perform complex readings of the I Ching with ease. SQL queries pull together all the associated text fragments, which are then formatted into a 'reading' using Django to interface with the web.</p>
<p>The prototype has no user-access controls, hence on this demo website updating and deleting are disabled.</p>
<p>All randomly generated readings remain part of the archive and can be referred back to later, however there is no identifying information stored along with them.</p>
<h2><b>Licensing:</b></h2>
<p>This work (excluding the text fragments) is <a href="https://github.com/anandavala/ichingdb/blob/master/LICENSE">unlicensed</a> and free to use and adapt in any way you see fit.</p>
<p>This approach is simple, flexible, customisable and open source. I hope it will evolve from these humble beginnings.</p>
<p>The source files can be found <a href="https://github.com/anandavala/ichingdb/">here</a>.</p>
<p>Some of the text fragments included in the database were scraped from <a href="http://jamesdekorne.com/GBCh/I%20Ching_dl.pdf">The Gnostic Book of Changes</a>. There is no copyright declaration with these.</p>
<p>Most were scraped from the website <a href="http://inthefamilyway.org/iching/">I Ching: Mothering Change</a>, which is based on the work of
<a href="https://ichinglivingchange.org/">Steven Karcher</a>. These are copyrighted.</p>
<p>Note: I have used Steven Karcher's book <a href="https://www.amazon.com/Total-I-Ching-Myths-Change/dp/074993980X/ref=sr_1_1?s=books&ie=UTF8&qid=1436475035&sr=1-1&keywords=Total+I+Ching%3A+Myths+for+Change">Total I Ching: Myths For Change</a>
for many years. I include this text as a sign of respect for his work and out of a desire to provide the best I Ching access to the general public. I only scraped a minimal amount of text and hope there are no copyright issues. If so the text and links can easily be swapped for another set.</p>
<p>Enjoy! :)</p>