<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<p>Just click in the query field, type your query text then hit 'ENTER' or click 'Submit'.</p>
<p>The lines and changing lines will then be randomised using the "3 coin method" (with the 'seed' set using the current time).</p>
<p>All generated consultations are recorded in the archive and can be referred back to later, however there is no identifying information stored along with them.</p>
<p>Alternatively, to look up a reading without generating it randomly, e.g. 12 &rightarrow; 1 just append "12/1/" to the main URL. Or if there are no changing lines in the reading enter the initial hexagram twice, e.g. "12/12/"</p>
<p>Note: do not think of this like querying a search engine, think of it as like asking a wise person or even an omniscient universal consciousness.</p>
<p>If you sincerely seek to live life in accord with the Way and align with the universal flow, then the I Ching will speak clearly to give you guidance and insight.</p>
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />

</form>
{% endblock %}
