<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<p>Just click in the query field, type your query text then hit 'ENTER' or click 'Submit'.</p>
<p>The lines and changing lines will then be randomised using the "3 coin method" (with the 'seed' set using the current time).</p>
<p>All consultations are recorded in the archive, however there is no identifying information stored along with them.</p>
<p>This growing archive is an anonymous indicator of the prevailing questions on people's minds and the corresponding responses from the I Ching.</p>
<p>Note: do not think of this like querying a search engine, think of it as like asking a wise person or even an omniscient universal consciousness.</p>
<p>So if you ask a flippant or meaningless question it will not just respond to the question, but to the person who asked it.</p>
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />

</form>
{% endblock %}
