<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Hexagram Lookup Table</title>
</head>
<body>
<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<h1>Hexagram Lookup Table</h1>
<table border width="1038" cellpadding="6" cellspacing="0">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<col width="103">
	<tr valign="top">
		<td width="103">
			<p align="center"><b>Upper <font size="+2">→</font></b></br><b>Lower <font size="+2">↓</font></b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☰</font></br><b>Force</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☷</font></br><b>Field</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☳</font></br><b>Shake</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☵</font></br><b>Pit</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☶</font></br><b>Bound</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☴</font></br><b>Penetrating</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☲</font></br><b>Radiance</b></p>
		</td>
		<td width="103">
			<p align="center"><font size="+3">☱</font></br><b>Open</b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☰</font></br><b>Force</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}1/1/" target="_blank">1</br>Force</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}11/11/" target="_blank">11</br>Pervading</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}34/34/" target="_blank">34</br>Great Invigorating</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}5/5/" target="_blank">5</br>Attending</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}26/26/" target="_blank">26</br>Great Accumulates</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}9/9/" target="_blank">9</br>Small Accumulates</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}14/14/" target="_blank">14</br>Great Being</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}43/43/" target="_blank">43</br>Deciding / Breakthrough</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☷</font></br><b>Field</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}12/12/" target="_blank">12</br>Obstruction</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}2/2/" target="_blank">2</br>Field</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}16/16/" target="_blank">16</br>Providing For</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}8/8/" target="_blank">8</br>Grouping</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}23/23/" target="_blank">23</br>Stripping</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}20/20/" target="_blank">20</br>Viewing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}35/35/" target="_blank">35</br>Flourishing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}45/45/" target="_blank">45</br>Gathering</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☳</font></br><b>Shake</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}25/25/" target="_blank">25</br>Disentangling</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}24/24/" target="_blank">24</br>Returning</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}51/51/" target="_blank">51</br>Shake / Groundbreaker</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}3/3/" target="_blank">3</br>Sprouting</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}27/27/" target="_blank">27</br>Jaws / Nourishing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}42/42/" target="_blank">42</br>Augmenting</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}21/21/" target="_blank">21</br>Biting Through</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}17/17/" target="_blank">17</br>Following</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☵</font></br><b>Pit</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}6/6/" target="_blank">6</br>Arguing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}7/7/" target="_blank">7</br>Legions</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}40/40/" target="_blank">40</br>Deliverance / Liberating</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}29/29/" target="_blank">29</br>Ghost River / Navigator</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}4/4/" target="_blank">4</br>Enveloping</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}59/59/" target="_blank">59</br>Dispersing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}64/64/" target="_blank">64</br>Not Yet Crossing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}47/47/" target="_blank">47</br>Confining / Oppression</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☶</font></br><b>Bound</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}33/33/" target="_blank">33</br>Retiring / Retreat</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}15/15/" target="_blank">15</br>Humbling</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}62/62/" target="_blank">62</br>Small Traverses / Flying Bird</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}39/39/" target="_blank">39</br>Limping / Difficulties</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}52/52/" target="_blank">52</br>Bound / Gatekeeper</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}53/53/" target="_blank">53</br>Gradual Advance</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}56/56/" target="_blank">56</br>Sojourning</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}31/31/" target="_blank">31</br>Conjoining</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☴</font></br><b>Penetrating</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}44/44/" target="_blank">44</br>Coupling</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}46/46/" target="_blank">46</br>Ascending</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}32/32/" target="_blank">32</br>Persevering</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}48/48/" target="_blank">48</br>The Well</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}18/18/" target="_blank">18</br>Corruption / Renovating</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}57/57/" target="_blank">57</br>Subtle Penetration / Matchmaker</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}50/50/" target="_blank">50</br>The Vessel</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}28/28/" target="_blank">28</br>Great Transition</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☲</font></br><b>Radiance</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}13/13/" target="_blank">13</br>Harmonizing People</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}36/36/" target="_blank">36</br>Hiding Brightness</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}55/55/" target="_blank">55</br>Abounding</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}63/63/" target="_blank">63</br>Already Crossing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}22/22/" target="_blank">22</br>Adorning</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}37/37/" target="_blank">37</br>Dwelling People</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}30/30/" target="_blank">30</br>Radiance / Visionary</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}49/49/" target="_blank">49</br>Skinning / Revolution</a></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="103">
			<p align="center"><font size="+3">☱</font></br><b>Open</b></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}10/10/" target="_blank">10</br>Treading</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}19/19/" target="_blank">19</br>Nearing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}54/54/" target="_blank">54</br>Marrying Maiden</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}60/60/" target="_blank">60</br>Articulating</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}41/41/" target="_blank">41</br>Diminishing</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}61/61/" target="_blank">61</br>Opened Heart / Connect to Center</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}38/38/" target="_blank">38</br>Diverging</a></p>
		</td>
		<td width="103">
			<p align="center"><a href="{% url 'ichingdb:index' %}58/58/" target="_blank">58</br>Opening / Mediator</a></p>
		</td>
	</tr>
</table>
<p><br/>

</p>
<p><br/>

</p>
</body>
</html>
