<h1>I Ching DB</h1>
<p><strong><i>"The I Ching is not magic; it is science that we don’t understand."</i></strong> ~Terence McKenna</p>
<p>May you find insight and inspiration through the I Ching and may this tool help you!</p>
<p>Note: to look up a reading, e.g. 12 &rightarrow; 1 just append "12/1/" to the above URL. Or if there are no changing lines in the reading enter the initial hexagram twice, e.g. "12/12/"</p>
<h2><a href="{% url 'ichingdb:random' %}">Consult the I Ching</a></h2>
<h4><a href="{% url 'ichingdb:archive' %}">Archive of Past Readings</a></h4>
<h4><a href="{% url 'ichingdb:about' %}">About this website and the new technology behind it</a></h4>
<h3><b>More information:</b></h3>
<ul>
<li><p><a href="https://www.quora.com/What-use-is-the-I-Ching/answer/John-Ringland" target="_blank">What use is the I Ching?</a></p></li>
<li><p><a href="https://www.onlineclarity.co.uk/learn/beginners/4-overview-of-a-reading/getting-started-with-interpretation/" target="_blank">How do I interpret a reading?</a></p></li>
</ul>
<h3>Tools to explore the structure of the I Ching</h3>
<h4><a href="{% url 'ichingdb:explore' %}">Possible Readings</a></h4>
<h4><a href="{% url 'ichingdb:related' %}">Related Hexagrams</a></h4>
<h4><a href="{% url 'ichingdb:paths' %}">Paths Between Hexagrams</a></h4>
