<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Lower Trigram Families (No Changing Lines)</title>
</head>
<body>
<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<h1 align="center">Lower Trigram Families (No Changing Lines)</h1>
<h2 align="left">Lower ☷ Field</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>2 Field</p>
		</td>
		<td>
			<p><font size='+3'>䷁</font></p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷁</font></p>
		</td>
		<td>
			<p>2 Field</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}2/2/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>16 Providing for</p>
		</td>
		<td>
			<p><font size='+3'>䷏</font></p>
		</td>
		<td>
			<p>001000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷏</font></p>
		</td>
		<td>
			<p>16 Providing for</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}16/16/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>8 Grouping</p>
		</td>
		<td>
			<p><font size='+3'>䷇</font></p>
		</td>
		<td>
			<p>010000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷇</font></p>
		</td>
		<td>
			<p>8 Grouping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}8/8/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>45 Gathering</p>
		</td>
		<td>
			<p><font size='+3'>䷬</font></p>
		</td>
		<td>
			<p>011000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷬</font></p>
		</td>
		<td>
			<p>45 Gathering</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}45/45/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>23 Stripping</p>
		</td>
		<td>
			<p><font size='+3'>䷖</font></p>
		</td>
		<td>
			<p>100000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷖</font></p>
		</td>
		<td>
			<p>23 Stripping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}23/23/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>35 Flourishing</p>
		</td>
		<td>
			<p><font size='+3'>䷢</font></p>
		</td>
		<td>
			<p>101000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷢</font></p>
		</td>
		<td>
			<p>35 Flourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}35/35/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>20 Viewing</p>
		</td>
		<td>
			<p><font size='+3'>䷓</font></p>
		</td>
		<td>
			<p>110000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷓</font></p>
		</td>
		<td>
			<p>20 Viewing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}20/20/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>12 Obstruction</p>
		</td>
		<td>
			<p><font size='+3'>䷋</font></p>
		</td>
		<td>
			<p>111000</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷋</font></p>
		</td>
		<td>
			<p>12 Obstruction</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}12/12/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☳ Shake</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>24 Returning</p>
		</td>
		<td>
			<p><font size='+3'>䷗</font></p>
		</td>
		<td>
			<p>000001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷗</font></p>
		</td>
		<td>
			<p>24 Returning</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}24/24/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>51 Shake / Groundbreaker</p>
		</td>
		<td>
			<p><font size='+3'>䷲</font></p>
		</td>
		<td>
			<p>001001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷲</font></p>
		</td>
		<td>
			<p>51 Shake / Groundbreaker</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}51/51/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>3 Sprouting</p>
		</td>
		<td>
			<p><font size='+3'>䷂</font></p>
		</td>
		<td>
			<p>010001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷂</font></p>
		</td>
		<td>
			<p>3 Sprouting</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}3/3/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>17 Following</p>
		</td>
		<td>
			<p><font size='+3'>䷐</font></p>
		</td>
		<td>
			<p>011001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷐</font></p>
		</td>
		<td>
			<p>17 Following</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}17/17/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>27 Jaws / Nourishing</p>
		</td>
		<td>
			<p><font size='+3'>䷚</font></p>
		</td>
		<td>
			<p>100001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷚</font></p>
		</td>
		<td>
			<p>27 Jaws / Nourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}27/27/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>21 Biting Through</p>
		</td>
		<td>
			<p><font size='+3'>䷔</font></p>
		</td>
		<td>
			<p>101001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷔</font></p>
		</td>
		<td>
			<p>21 Biting Through</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}21/21/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>42 Augmenting</p>
		</td>
		<td>
			<p><font size='+3'>䷩</font></p>
		</td>
		<td>
			<p>110001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷩</font></p>
		</td>
		<td>
			<p>42 Augmenting</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}42/42/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>25 Disentangling</p>
		</td>
		<td>
			<p><font size='+3'>䷘</font></p>
		</td>
		<td>
			<p>111001</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷘</font></p>
		</td>
		<td>
			<p>25 Disentangling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}25/25/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☵ Pit</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>7 Legions</p>
		</td>
		<td>
			<p><font size='+3'>䷆</font></p>
		</td>
		<td>
			<p>000010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷆</font></p>
		</td>
		<td>
			<p>7 Legions</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}7/7/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><font size='+3'>䷧</font></p>
		</td>
		<td>
			<p>001010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷧</font></p>
		</td>
		<td>
			<p>40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}40/40/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>29 Ghost River / Navigator</p>
		</td>
		<td>
			<p><font size='+3'>䷜</font></p>
		</td>
		<td>
			<p>010010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷜</font></p>
		</td>
		<td>
			<p>29 Ghost River / Navigator</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}29/29/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>47 Confining / Oppression</p>
		</td>
		<td>
			<p><font size='+3'>䷮</font></p>
		</td>
		<td>
			<p>011010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷮</font></p>
		</td>
		<td>
			<p>47 Confining / Oppression</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}47/47/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>4 Enveloping</p>
		</td>
		<td>
			<p><font size='+3'>䷃</font></p>
		</td>
		<td>
			<p>100010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷃</font></p>
		</td>
		<td>
			<p>4 Enveloping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}4/4/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>64 Not Yet Crossing</p>
		</td>
		<td>
			<p><font size='+3'>䷿</font></p>
		</td>
		<td>
			<p>101010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷿</font></p>
		</td>
		<td>
			<p>64 Not Yet Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}64/64/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>59 Dispersing</p>
		</td>
		<td>
			<p><font size='+3'>䷺</font></p>
		</td>
		<td>
			<p>110010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷺</font></p>
		</td>
		<td>
			<p>59 Dispersing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}59/59/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>6 Arguing</p>
		</td>
		<td>
			<p><font size='+3'>䷅</font></p>
		</td>
		<td>
			<p>111010</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷅</font></p>
		</td>
		<td>
			<p>6 Arguing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}6/6/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☱ Open</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>19 Nearing</p>
		</td>
		<td>
			<p><font size='+3'>䷒</font></p>
		</td>
		<td>
			<p>000011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷒</font></p>
		</td>
		<td>
			<p>19 Nearing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}19/19/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>54 Marrying Maiden</p>
		</td>
		<td>
			<p><font size='+3'>䷵</font></p>
		</td>
		<td>
			<p>001011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷵</font></p>
		</td>
		<td>
			<p>54 Marrying Maiden</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}54/54/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>60 Articulating</p>
		</td>
		<td>
			<p><font size='+3'>䷻</font></p>
		</td>
		<td>
			<p>010011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷻</font></p>
		</td>
		<td>
			<p>60 Articulating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}60/60/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>58 Opening / Mediator</p>
		</td>
		<td>
			<p><font size='+3'>䷹</font></p>
		</td>
		<td>
			<p>011011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷹</font></p>
		</td>
		<td>
			<p>58 Opening / Mediator</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}58/58/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>41 Diminishing</p>
		</td>
		<td>
			<p><font size='+3'>䷨</font></p>
		</td>
		<td>
			<p>100011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷨</font></p>
		</td>
		<td>
			<p>41 Diminishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}41/41/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>38 Diverging</p>
		</td>
		<td>
			<p><font size='+3'>䷥</font></p>
		</td>
		<td>
			<p>101011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷥</font></p>
		</td>
		<td>
			<p>38 Diverging</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}38/38/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>61 Opened Heart / Connect to Center</p>
		</td>
		<td>
			<p><font size='+3'>䷼</font></p>
		</td>
		<td>
			<p>110011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷼</font></p>
		</td>
		<td>
			<p>61 Opened Heart / Connect to Center</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}61/61/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>10 Treading</p>
		</td>
		<td>
			<p><font size='+3'>䷉</font></p>
		</td>
		<td>
			<p>111011</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷉</font></p>
		</td>
		<td>
			<p>10 Treading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}10/10/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☶ Bound</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>15 Humbling</p>
		</td>
		<td>
			<p><font size='+3'>䷎</font></p>
		</td>
		<td>
			<p>000100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷎</font></p>
		</td>
		<td>
			<p>15 Humbling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}15/15/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>62 Small Traverses / Flying Bird</p>
		</td>
		<td>
			<p><font size='+3'>䷽</font></p>
		</td>
		<td>
			<p>001100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷽</font></p>
		</td>
		<td>
			<p>62 Small Traverses / Flying Bird</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}62/62/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>39 Limping / Difficulties</p>
		</td>
		<td>
			<p><font size='+3'>䷦</font></p>
		</td>
		<td>
			<p>010100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷦</font></p>
		</td>
		<td>
			<p>39 Limping / Difficulties</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}39/39/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>31 Conjoining</p>
		</td>
		<td>
			<p><font size='+3'>䷞</font></p>
		</td>
		<td>
			<p>011100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷞</font></p>
		</td>
		<td>
			<p>31 Conjoining</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}31/31/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>52 Bound / Gatekeeper</p>
		</td>
		<td>
			<p><font size='+3'>䷳</font></p>
		</td>
		<td>
			<p>100100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷳</font></p>
		</td>
		<td>
			<p>52 Bound / Gatekeeper</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}52/52/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>56 Sojourning</p>
		</td>
		<td>
			<p><font size='+3'>䷷</font></p>
		</td>
		<td>
			<p>101100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷷</font></p>
		</td>
		<td>
			<p>56 Sojourning</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}56/56/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>53 Gradual Advance</p>
		</td>
		<td>
			<p><font size='+3'>䷴</font></p>
		</td>
		<td>
			<p>110100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷴</font></p>
		</td>
		<td>
			<p>53 Gradual Advance</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}53/53/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>33 Retiring / Retreat</p>
		</td>
		<td>
			<p><font size='+3'>䷠</font></p>
		</td>
		<td>
			<p>111100</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷠</font></p>
		</td>
		<td>
			<p>33 Retiring / Retreat</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}33/33/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☲ Radiance</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>36 Hiding Brightness</p>
		</td>
		<td>
			<p><font size='+3'>䷣</font></p>
		</td>
		<td>
			<p>000101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷣</font></p>
		</td>
		<td>
			<p>36 Hiding Brightness</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}36/36/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>55 Abounding</p>
		</td>
		<td>
			<p><font size='+3'>䷶</font></p>
		</td>
		<td>
			<p>001101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷶</font></p>
		</td>
		<td>
			<p>55 Abounding</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}55/55/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>63 Already Crossing</p>
		</td>
		<td>
			<p><font size='+3'>䷾</font></p>
		</td>
		<td>
			<p>010101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷾</font></p>
		</td>
		<td>
			<p>63 Already Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}63/63/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>49 Skinning / Revolution</p>
		</td>
		<td>
			<p><font size='+3'>䷰</font></p>
		</td>
		<td>
			<p>011101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷰</font></p>
		</td>
		<td>
			<p>49 Skinning / Revolution</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}49/49/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>22 Adorning</p>
		</td>
		<td>
			<p><font size='+3'>䷕</font></p>
		</td>
		<td>
			<p>100101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷕</font></p>
		</td>
		<td>
			<p>22 Adorning</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}22/22/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>30 Radiance / Visionary</p>
		</td>
		<td>
			<p><font size='+3'>䷝</font></p>
		</td>
		<td>
			<p>101101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷝</font></p>
		</td>
		<td>
			<p>30 Radiance / Visionary</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}30/30/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>37 Dwelling People</p>
		</td>
		<td>
			<p><font size='+3'>䷤</font></p>
		</td>
		<td>
			<p>110101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷤</font></p>
		</td>
		<td>
			<p>37 Dwelling People</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}37/37/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>13 Harmonizing People</p>
		</td>
		<td>
			<p><font size='+3'>䷌</font></p>
		</td>
		<td>
			<p>111101</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷌</font></p>
		</td>
		<td>
			<p>13 Harmonizing People</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}13/13/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☴ Penetrating</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>46 Ascending</p>
		</td>
		<td>
			<p><font size='+3'>䷭</font></p>
		</td>
		<td>
			<p>000110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷭</font></p>
		</td>
		<td>
			<p>46 Ascending</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}46/46/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>32 Persevering</p>
		</td>
		<td>
			<p><font size='+3'>䷟</font></p>
		</td>
		<td>
			<p>001110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷟</font></p>
		</td>
		<td>
			<p>32 Persevering</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}32/32/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>48 The Well</p>
		</td>
		<td>
			<p><font size='+3'>䷯</font></p>
		</td>
		<td>
			<p>010110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷯</font></p>
		</td>
		<td>
			<p>48 The Well</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}48/48/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>28 Great Transition</p>
		</td>
		<td>
			<p><font size='+3'>䷛</font></p>
		</td>
		<td>
			<p>011110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷛</font></p>
		</td>
		<td>
			<p>28 Great Transition</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}28/28/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>18 Corruption / Renovating</p>
		</td>
		<td>
			<p><font size='+3'>䷑</font></p>
		</td>
		<td>
			<p>100110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷑</font></p>
		</td>
		<td>
			<p>18 Corruption / Renovating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}18/18/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>50 The Vessel</p>
		</td>
		<td>
			<p><font size='+3'>䷱</font></p>
		</td>
		<td>
			<p>101110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷱</font></p>
		</td>
		<td>
			<p>50 The Vessel</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}50/50/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>57 Subtle Penetration / Matchmaker</p>
		</td>
		<td>
			<p><font size='+3'>䷸</font></p>
		</td>
		<td>
			<p>110110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷸</font></p>
		</td>
		<td>
			<p>57 Subtle Penetration / Matchmaker</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}57/57/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>44 Coupling</p>
		</td>
		<td>
			<p><font size='+3'>䷫</font></p>
		</td>
		<td>
			<p>111110</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷫</font></p>
		</td>
		<td>
			<p>44 Coupling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}44/44/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<h2 align="left">Lower ☰ Force</h2>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Lines</p>
		</th>
		<th>
			<p>Changes</p>
		</th>
		<th>
			<p>Hex</p>
		</th>
		<th>
			<p>Related</p>
		</th>
		<th>
			<p>Link</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>11 Pervading</p>
		</td>
		<td>
			<p><font size='+3'>䷊</font></p>
		</td>
		<td>
			<p>000111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷊</font></p>
		</td>
		<td>
			<p>11 Pervading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}11/11/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>34 Great Invigorating</p>
		</td>
		<td>
			<p><font size='+3'>䷡</font></p>
		</td>
		<td>
			<p>001111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷡</font></p>
		</td>
		<td>
			<p>34 Great Invigorating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}34/34/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>5 Attending</p>
		</td>
		<td>
			<p><font size='+3'>䷄</font></p>
		</td>
		<td>
			<p>010111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷄</font></p>
		</td>
		<td>
			<p>5 Attending</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}5/5/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>43 Deciding / Breakthrough</p>
		</td>
		<td>
			<p><font size='+3'>䷪</font></p>
		</td>
		<td>
			<p>011111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷪</font></p>
		</td>
		<td>
			<p>43 Deciding / Breakthrough</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}43/43/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>26 Great Accumulates</p>
		</td>
		<td>
			<p><font size='+3'>䷙</font></p>
		</td>
		<td>
			<p>100111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷙</font></p>
		</td>
		<td>
			<p>26 Great Accumulates</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}26/26/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>14 Great Being</p>
		</td>
		<td>
			<p><font size='+3'>䷍</font></p>
		</td>
		<td>
			<p>101111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷍</font></p>
		</td>
		<td>
			<p>14 Great Being</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}14/14/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>9 Small Accumulates</p>
		</td>
		<td>
			<p><font size='+3'>䷈</font></p>
		</td>
		<td>
			<p>110111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷈</font></p>
		</td>
		<td>
			<p>9 Small Accumulates</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}9/9/" target="_blank">Reading</a></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>1 Force</p>
		</td>
		<td>
			<p><font size='+3'>䷀</font></p>
		</td>
		<td>
			<p>111111</p>
		</td>
		<td>
			<p>000000</p>
		</td>
		<td>
			<p><font size='+3'>䷀</font></p>
		</td>
		<td>
			<p>1 Force</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}1/1/" target="_blank">Reading</a></p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
<p><br/>
<br/>

</p>
<p><br/>
<br/>

</p>
</body>
</html>
