<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Example Path 2</title>
</head>
<body>
<h1 align="center">Example Path 2</h1>
<p>Below is an example of a path through the I Ching's space of meaning, which can be interpreted as an outline of a story.</p>
<p><br/>

</p>
<table border cellpadding="4" cellspacing="0">
	<tr valign="top">
		<td>
			<p>䷌ 13 Harmonizing People</p>
		</td>
		<td>
			<p>䷘ 25 Disentangling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}13/25/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Retreat and prepare a countermove. This may seem like a
			disaster but if you move with it you can eliminate the old
			negativity. This is not the time for aggression or insistence on
			your ideas. Accumulate the strength to carry heavy loads and
			confront difficult situations. Proceed step by step. Gather energy
			for a decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷘ 25 Disentangling</p>
		</td>
		<td>
			<p>䷉ 10 Treading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}25/10/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>If you realize what this time means, all your plans will
			succeed. Smooth the way from the shadows. You have a hidden
			connection that binds you to others. Empty your mind of immediate
			goals. Supportive friends will soon arrive. Step out to meet the
			new destiny. You can confront and disable a powerful and
			malevolent opponent. Gather energy for a decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷉ 10 Treading</p>
		</td>
		<td>
			<p>䷥ 38 Diverging</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}10/38/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You must decisively separate yourself from a dangerous
			influence. Have no fear. Face the danger. Have no concern for
			glory or achievements. Locate yourself in the center and nourish
			your people. All cause for discord and sorrow will disappear. Step
			outside the norms and re-imagine the situation. Co-operate with
			the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷥ 38 Diverging</p>
		</td>
		<td>
			<p>䷔ 21 Biting Through</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}38/21/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>In an unexpected way you meet someone or something of great
			importance. Let this influence enter your heart. Though you may
			feel your gifts are small, bite through the obstacles to union.
			Act from your heart. You can create a warm and inspiring
			atmosphere. Care for other people. Gather energy for a decisive
			new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷔ 21 Biting Through</p>
		</td>
		<td>
			<p>䷝ 30 Radiance / Visionary</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}21/30/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Biting through to union you encounter something old and
			poisonous. Bring it out. Beat your drums or you will end up
			lamenting like a very old person. The distress you feel will soon
			disappear. Those who approach you now are not outlaws. Treat them
			with great respect and seek an alliance. Do not be afraid to act
			alone. You are connected with a creative force.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷝ 30 Radiance / Visionary</p>
		</td>
		<td>
			<p>䷍ 14 Great Being</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}30/14/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You have found the connection. Light and power surge up from
			below. As you venture into danger you will get what you need by
			being flexible and adaptable. Gather people around you and do not
			impose your will. You are at the center of this group. Do not let
			this chance slip through your fingers. Use an inspiring idea to
			carry your desires. Be resolute. You are connected with a creative
			force.</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
<p>In this example each hexagram has only a single changing line. And although there is a complex reading for each transition only 
the text for the changing line is shown to give an idea of the nature of the transition.</p>
<p>This is just one of many thousands of possible paths through this space of meaning. It serves as an example of how the hexagrams connect via changing lines
to form a complex network of meaning. This is an alternate way to get to know the wisdom encoded within the I Ching. Each path can also be elaborated into stories
to illustrate the wisdom and provide guidance to help people navigate their way through life.</p>
<p>Note: the above path through the I Ching space was assembled from the <a href="{% url 'ichingdb:paths' %}">path</a> query and results shown below.</p>
<p><br/>

</p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>13</p>
		</td>
		<td>
			<p>14</p>
		</td>
		<td>
			<p>6</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<td>
			<p>413</p>
		</td>
		<td>
			<p>䷌ 13 Harmonizing People</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}13/25/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷘ 25 Disentangling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}25/10/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷉ 10 Treading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}10/38/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷥ 38 Diverging</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}38/21/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷔ 21 Biting Through</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}21/30/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷝ 30 Radiance / Visionary</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}30/14/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷍ 14 Great Being</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
</body>
</html>
