<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Example Path 3</title>
</head>
<body>
<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<h1 align="center">Example Path 3</h1>
<p>Below is an example of a path through the I Ching's space of meaning, which can be interpreted as an outline of a story.</p>
<p><br/>

</p>
<table border cellpadding="4" cellspacing="0">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Outcome</p>
		</th>
		<th>
			<p>Link</p>
		</th>
		<th>
			<p>Changing Line Text</p>
		</th>
	</tr>
	<tr valign="top">
		<td>
			<p>䷲ 51 Shake / Groundbreaker</p>
		</td>
		<td>
			<p>䷏ 16 Providing for</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}51/16/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>This is a profound shock. Everything is turned upside down. Do
			not call out for help now. Cut through pride and complication and
			set the armies marching. If you meet people with generosity and
			care you can signal to your true kin. Step outside the norms.
			These goings and comings will release the energy bound up in the
			past. Gather energy for a decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷏ 16 Providing for</p>
		</td>
		<td>
			<p>䷢ 35 Flourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}16/35/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Work on in the dark to provide for the future. Keep your pride
			out of the way. Your inner work will call out to others. Master
			your words and you can influence people. Attack the old ways and
			you will soon emerge into the light. These goings and comings
			release energy bound up in the past. Step outside the norms.
			Gather energy for the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷢ 35 Flourishing</p>
		</td>
		<td>
			<p>䷿ 64 Not Yet Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}35/64/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You feel anxious and sorrowful. Do not fear. Take on this
			arduous task and receive the blessing of the feminine powers. Let
			yourself be lured into action. Your sincerity and dedication are
			what count. The situation seems difficult, but you will survive.
			This will bring profit and insight in the end. Gather energy for a
			decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷿ 64 Not Yet Crossing</p>
		</td>
		<td>
			<p>䷧ 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}64/40/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You have a great connection but start slowly. Let yourself be
			lured on. Difficulties are going, praise and ease are coming. Pull
			back and join with others and you will capture the force opposing
			your plans and desires. There is nothing that will not benefit.
			These goings and comings release the energy now bound up in the
			past. Cooperate with the on-going process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷧ 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p>䷵ 54 Marrying Maiden</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}40/54/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Act on your plans. You are in the right position. Difficulties
			are going, ripeness and abundance are coming. Talk to those who
			can connect you with what is great. Now is the time to put things
			in order. If you let yourself be led you can realize your hidden
			potential. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p>䷵ 54 Marrying Maiden</p>
		</td>
		<td>
			<p>䷡ 34 Great Invigorating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}54/34/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are in a subservient place. Have patience. In the end you
			will reverse things and gain the strategic position. You are
			confronting a troublesome past experience. Retreat to rekindle
			your love for people. This is a resting-place and a portent of
			future happiness. If you use force now you will only be entangled.
			You are coupled with a creative force.</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
<p>In this example each hexagram has only a single changing line. And although there is a complex reading for each transition only 
the text for the changing line is shown to give an idea of the nature of the transition.</p>
<p>This is just one of many thousands of possible paths through this space of meaning. It serves as an example of how the hexagrams connect via changing lines
to form a complex network of meaning. This is an alternate way to get to know the wisdom encoded within the I Ching. Each path can also be elaborated into stories
to illustrate the wisdom and provide guidance to help people navigate their way through life.</p>
<p>Note: the above path through the I Ching space was assembled from the <a href="{% url 'ichingdb:paths' %}">path</a> query and results shown below.</p>
<p><br/>

</p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>51</p>
		</td>
		<td>
			<p>34</p>
		</td>
		<td>
			<p>6</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<td>
			<p>46</p>
		</td>
		<td>
			<p>䷲ 51 Shake / Groundbreaker</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}51/16/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷏ 16 Providing for</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}16/35/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷢ 35 Flourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}35/64/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷿ 64 Not Yet Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}64/40/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷧ 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}40/54/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷵ 54 Marrying Maiden</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}54/34/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>䷡ 34 Great Invigorating</p>
		</td>
	</tr>
</table>
<p><br/>

</p>
</body>
</html>
