<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Example Path 1</title>
</head>
<body>
<p><a href="{% url 'ichingdb:index' %}">Index</a></p>
<h1 align="center">Example Path 1</h1>
<p>Below is an example of a path through the I Ching's space of meaning, which can be interpreted as an outline of a story. The path starts at ䷯ 48 Well (satisfying common needs) 
then passes into difficult times such as ䷮ 47 Confining / Oppression and ䷋ 12 Obstruction. The path then begins to improve via 
䷑ 18 Corruption / Renovating, ䷂ 3 Sprouting and ䷧ 40 Deliverance / Liberating. It eventually returns back to common needs ䷯ 48 Well.</p>
<p></br></p>
<table border cellpadding="4" cellspacing="0">
	<tr>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Outcome</p>
		</th>
		<th>
			<p>Link</p>
		</th>
		<th>
			<p>Changing Line Text</p>
		</th>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷯</font> 48 The Well</p>
		</td>
		<td>
			<p><font size='+3'>䷜</font> 29 Ghost River / Navigator</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}48/29/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>This is the sorrow of someone who is connected to the source of the common good but has no one with whom to share it. You are confined by a host of oppressive duties and burdensome thoughts. Do not be trapped in this pitfall. Move on. Sacrifice the old and let in the hidden connections to the new. Have no fear. Gather energy for the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷜</font> 29 Ghost River / Navigator</p>
		</td>
		<td>
			<p><font size='+3'>䷮</font> 47 Confining / Oppression</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}29/47/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are trapped but do not fight the situation. Your rescuers are coming. You are right on the border, the place where events emerge. Though you are confined by a host of oppressive duties they will slowly loosen. Concentrate on your real ideals. The people approaching you are not outlaws. Attribute great wisdom to the connection. You will find supportive friends. Gather energy for a decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷮</font> 47 Confining / Oppression</p>
		</td>
		<td>
			<p><font size='+3'>䷅</font> 6 Arguing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}47/6/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>This seeming oppression should not even bother you. If you sit around and lament, then all you will hear is lamentation. You are contesting for mastery in a corrupt situation and you simply cannot win. The source of common good is like an old neglected well. Activate your energy and accept the heavy going. You will find supportive friends. Prepare the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷅</font> 6 Arguing</p>
		</td>
		<td>
			<p><font size='+3'>䷋</font> 12 Obstruction</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}6/12/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You cannot win this fight so flee quickly. Go to where you feel secure. When the distress ends, friends will seek you out. You are facing oppression and blocked communication but a new time is approaching. Join those with whom you feel a true connection. Let yourself be led and you can realize the hidden potential. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷋</font> 12 Obstruction</p>
		</td>
		<td>
			<p><font size='+3'>䷓</font> 20 Viewing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}12/20/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>In the middle of a dark time you experience an inspiring insight. Cultivate it through withdrawal. Your present connections may look sweet, but no good can come of them. Let your grief at their failure release you. You face a difficult time but if you do not let go of your present situation the spirit cannot return. In the end you will spread light to all. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷓</font> 20 Viewing</p>
		</td>
		<td>
			<p><font size='+3'>䷖</font> 23 Stripping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}20/23/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Look deeply into this connection and measure yourself against the ideal of the Realizing Person who seeks to live life in accord with the flow. The spirit liberated now belongs with you like parts of a previously separated whole. Relax your grip and return to the flow. You will obtain the favor of the noble ladies and their secret connections. Strip away your old ideas. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷖</font> 23 Stripping</p>
		</td>
		<td>
			<p><font size='+3'>䷃</font> 4 Enveloping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}23/4/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Differentiate yourself from others and dissolve negative projections. You have the power to revitalize the dwelling now. Embrace the feminine and work through the small. Find the vital power of inner growth and circulate it to all. As the time renews itself give with open arms. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷃</font> 4 Enveloping</p>
		</td>
		<td>
			<p><font size='+3'>䷑</font> 18 Corruption / Renovating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}4/18/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are flirting with something beyond you. Let this temptation go and you can realize your real potential. Locate yourself in the flow, let go of ambition and you will be enlightened. You must correct the corruption of authority and the use of power. Have a great purpose. You will soon meet people with whom you can find a real alliance that will be of great benefit. If you let yourself be led now, you can realize the hidden potential. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷑</font> 18 Corruption / Renovating</p>
		</td>
		<td>
			<p><font size='+3'>䷳</font> 52 Bound / Gatekeeper</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}18/52/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You must deal with the corruption of nourishment and care. You cannot do this by imposing your ideas. Put yourself into the center of this situation and find the flow. Do the inner work. Do not run after impossible desires. You are called to serve now. This can lead to real excellence. These goings and comings will release the energy now bound up in the past. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷳</font> 52 Bound / Gatekeeper</p>
		</td>
		<td>
			<p><font size='+3'>䷎</font> 15 Humbling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}52/15/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Meet people with generosity, honesty and care now and you will receive it in return. You have learned what you need to face your new life. Do not call out for help. Cut through pride and complication. Let your actions speak and you will signal to your true kin. These goings and comings release the energy bound up in the past. Co-operate with the on-going process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷎</font> 15 Humbling</p>
		</td>
		<td>
			<p><font size='+3'>䷣</font> 36 Hiding Brightness</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}15/36/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Work hard at this. Keep your pride out of the way. This is the difficult journey that brings deliverance. Work on in the dark to prepare the future. Master your words and you can influence people. These goings and comings release energy bound up in the past. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷣</font> 36 Hiding Brightness</p>
		</td>
		<td>
			<p><font size='+3'>䷾</font> 63 Already Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}36/63/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You must pretend to be a part of this situation without losing your integrity. Be clear about what is happening. Though you may be apprehensive take on this difficult task and receive the blessings of the feminine. Let yourself be lured into action. The sincerity of your feeling and your dedication are what count now. Co-operate with the on-going process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷾</font> 63 Already Crossing</p>
		</td>
		<td>
			<p><font size='+3'>䷂</font> 3 Sprouting</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}63/3/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are embarked on a great enterprise. Keep a firm purpose. Do not listen to what others tell you, confining your youthful spirit in a prison of outmoded thoughts. If you follow old desires you will lose yourself. Eliminate the negativity. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷂</font> 3 Sprouting</p>
		</td>
		<td>
			<p><font size='+3'>䷐</font> 17 Following</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}3/17/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Go forward. Make the connection. Everything will benefit. Do not chase things. Connect with the flow and your understanding will be brightened. Do not be grasping or try to exploit this opportunity. Correct the corruption of authority. Proceed step by step. Gather energy for a decisive new move. </p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷐</font> 17 Following</p>
		</td>
		<td>
			<p><font size='+3'>䷘</font> 25 Disentangling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}17/25/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>It is a blunder to make a further move now. Disentangle yourself from the old ways and offer a sacrifice to your real ideals. Help renew the corruption of your predecessors. Complete this and the flow will open for all. Step outside the norms. Gather energy for a decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷘</font> 25 Disentangling</p>
		</td>
		<td>
			<p><font size='+3'>䷔</font> 21 Biting Through</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}25/21/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Though you may be in pain, do not treat it literally. Treat it spiritually and you will soon have cause to rejoice. Bite through the obstacles to union. You are carrying something valuable. Have patience. These goings and comings will release the energy now bound up in the past. Step outside the norms and re-imagine the situation. Gather energy for the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷔</font> 21 Biting Through</p>
		</td>
		<td>
			<p><font size='+3'>䷢</font> 35 Flourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}21/35/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You have been locked up and cannot move. This is for your own good. Though you feel held back, there is a net of relations that connect you with a new time. Take time to reflect. Adorn things with purity and clarity. Step outside the norms. Gather energy for the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷢</font> 35 Flourishing</p>
		</td>
		<td>
			<p><font size='+3'>䷏</font> 16 Providing for</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}35/16/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You can control this situation through direct action but you must first confront the negative images you have of things. You are escaping from an impossible situation. You can influence people if you master your words. Work on in the dark to provide for the future. An unconscious force is biting through to help you. These comings and goings will release energy now bound up in the past. Gather your forces for the decisive new move.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷏</font> 16 Providing for</p>
		</td>
		<td>
			<p><font size='+3'>䷧</font> 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}16/40/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Free yourself from these constraints. Your purpose is correct and it is time to expand. Attack your problems aggressively. In the greatest difficulties partners will come. You can catch the hidden negativity and acquire the power to act directly. These goings and comings release the energy now bound up in the past. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷧</font> 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><font size='+3'>䷟</font> 32 Persevering</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}40/32/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are tied to a false position, acting above or beneath yourself. Who are you trying to impress? Is it really worth it? If you go on like this you will be covered in shame. You think the world is against you but actually you are beating your head against a brick wall. Have no fear. Hidden friends are following you and your sorrows will soon disappear. Stabilize your heart and fix the real gift you have been given. Be resolute. You are connected to a creative force.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷟</font> 32 Persevering</p>
		</td>
		<td>
			<p><font size='+3'>䷡</font> 34 Great Invigorating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}32/34/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>You are trying to fix this influence too soon. This is the wrong way to go about it. Nothing you come up with can help you. Hold back for now. There is greater fertility in retreat. Do not try to set others in order or launch an expedition. The connection is there but it must be nurtured. Be resolute in this. You are coupled with a creative force.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷡</font> 34 Great Invigorating</p>
		</td>
		<td>
			<p><font size='+3'>䷊</font> 11 Pervading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}34/11/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>The obstacle vanishes. There is nothing holding you back. Do the great things that are in you to do. Trying to retire you were caught in a web of difficulties. Now you are like a young bird afraid to leave the nest. Act on your heart’s desire. A flourishing time approaches. If you let yourself be led you can realize the hidden potential. Co-operate with the on-going process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷊</font> 11 Pervading</p>
		</td>
		<td>
			<p><font size='+3'>䷒</font> 19 Nearing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}11/19/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>If you do not let go of what you have, the spirit cannot return. Go through the hardship. You will experience a real renewal. Your present connections may look sweet, but no good can come of them. Your grief at their failure will release you. You have received a gift from above and it is your job to cultivate it. Something significant is returning. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷒</font> 19 Nearing</p>
		</td>
		<td>
			<p><font size='+3'>䷆</font> 7 Legions</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}19/7/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>An inspiring connection comes nearer that belongs with you like the parts of a separated whole. The armies set out from here so do not obstruct their power with old forms and old thoughts Look into this deeply and measure yourself against the ideal of the Realizing Person who seeks to live life in accord with the flow. Something significant is returning. Be open and provide what is needed.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷆</font> 7 Legions</p>
		</td>
		<td>
			<p><font size='+3'>䷭</font> 46 Ascending</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}7/46/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Get rid of false images and useless ideas. There is no resistance in sight. You are outside the normal group now precisely because of your real moral and spiritual worth. Hold onto your values and you can truly influence others. The great project opens from this gathering. If you let yourself be led you can realize the hidden potential. Co-operate with the ongoing process of change.</p>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<p><font size='+3'>䷭</font> 46 Ascending</p>
		</td>
		<td>
			<p><font size='+3'>䷯</font> 48 The Well</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}46/48/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p>Proceed step by step. There are no barriers to your progress. Though you ostensibly have all you need you feel cut off and oppressed by lack of recognition. Extend the gathering, include more. Return to the common source of value and feeling. Be resolute now and part from the past. You are connected to a creative force.</p>
		</td>
	</tr>
</table>
<p></br></p>
<p>In this example each hexagram has only a single changing line. And although there is a complex reading for each transition only 
the text for the changing line is shown to give an idea of the nature of the transition.</p>
<p>This is just one of many thousands of possible paths through this space of meaning. It serves as an example of how the hexagrams connect via changing lines
to form a complex network of meaning. This is an alternate way to get to know the wisdom encoded within the I Ching. Each path can also be elaborated into stories
to illustrate the wisdom and provide guidance to help people navigate their way through life.</p>
<p>Note: the above path through the I Ching space was assembled from the <a href="{% url 'ichingdb:paths' %}">path</a> inquiries and results shown below.</p>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>48</p>
		</td>
		<td>
			<p>12</p>
		</td>
		<td>
			<p>4</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>9</p>
		</td>
		<td>
			<p><font size='+3'>䷯</font> 48 The Well</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}48/29/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷜</font> 29 Ghost River / Navigator</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}29/47/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷮</font> 47 Confining / Oppression</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}47/6/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷅</font> 6 Arguing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}6/12/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷋</font> 12 Obstruction</p>
		</td>
	</tr>
</table>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>12</p>
		</td>
		<td>
			<p>18</p>
		</td>
		<td>
			<p>4</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>7</p>
		</td>
		<td>
			<p><font size='+3'>䷋</font> 12 Obstruction</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}12/20/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷓</font> 20 Viewing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}20/23/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷖</font> 23 Stripping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}23/4/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷃</font> 4 Enveloping</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}4/18/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷑</font> 18 Corruption / Renovating</p>
		</td>
	</tr>
</table>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>18</p>
		</td>
		<td>
			<p>63</p>
		</td>
		<td>
			<p>4</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>13</p>
		</td>
		<td>
			<p><font size='+3'>䷑</font> 18 Corruption / Renovating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}18/52/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷳</font> 52 Bound / Gatekeeper</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}52/15/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷎</font> 15 Humbling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}15/36/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷣</font> 36 Hiding Brightness</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}36/63/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷾</font> 63 Already Crossing</p>
		</td>
	</tr>
</table>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>63</p>
		</td>
		<td>
			<p>35</p>
		</td>
		<td>
			<p>5</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>8</p>
		</td>
		<td>
			<p><font size='+3'>䷾</font> 63 Already Crossing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}63/3/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷂</font> 3 Sprouting</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}3/17/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷐</font> 17 Following</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}17/25/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷘</font> 25 Disentangling</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}25/21/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷔</font> 21 Biting Through</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}21/35/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷢</font> 35 Flourishing</p>
		</td>
	</tr>
</table>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>35</p>
		</td>
		<td>
			<p>11</p>
		</td>
		<td>
			<p>5</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>9</p>
		</td>
		<td>
			<p><font size='+3'>䷢</font> 35 Flourishing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}35/16/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷏</font> 16 Providing for</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}16/40/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷧</font> 40 Deliverance / Liberating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}40/32/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷟</font> 32 Persevering</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}32/34/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷡</font> 34 Great Invigorating</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}34/11/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷊</font> 11 Pervading</p>
		</td>
	</tr>
</table>
<p></br></p>
<table border cellpadding="2" cellspacing="2">
	<tr>
		<th>
			<p>NChng</p>
		</th>
		<th>
			<p>Initial</p>
		</th>
		<th>
			<p>Final</p>
		</th>
		<th>
			<p>NSteps</p>
		</th>
	</tr>
	<tr>
		<td>
			<p>1</p>
		</td>
		<td>
			<p>11</p>
		</td>
		<td>
			<p>48</p>
		</td>
		<td>
			<p>4</p>
		</td>
	</tr>
</table>
<table border cellpadding="2" cellspacing="0">
	<tr>
		<td>
			<p>18</p>
		</td>
		<td>
			<p><font size='+3'>䷊</font> 11 Pervading</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}11/19/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷒</font> 19 Nearing</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}19/7/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷆</font> 7 Legions</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}7/46/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷭</font> 46 Ascending</p>
		</td>
		<td>
			<p><a href="{% url 'ichingdb:index' %}46/48/" target="_blank">Reading</a></p>
		</td>
		<td>
			<p><font size='+3'>䷯</font> 48 The Well</p>
		</td>
	</tr>
</table>
<p></br></p>
</body>
</html>
