<!-- <p><a href="{% url 'ichingdb:update' cid %}">Update</a> . . . <a href="{% url 'ichingdb:delete' cid %}">Delete</a> . . . <a href="{% url 'ichingdb:index' %}">Index</a></p> -->
<p><strike>Update</strike> . . . <strike>Delete</strike> . . . <a href="{% url 'ichingdb:index' %}">Index</a> . . . <a href="{% url 'ichingdb:random' %}">Consult the I Ching</a></p>
<p><i>"The I Ching is not magic; it is science that we don’t understand."</i> ~Terence McKenna</p>
<p>More information:</p>
<ul>
<li><p><a href="https://www.quora.com/What-use-is-the-I-Ching/answer/John-Ringland" target="_blank">What use is the I Ching?</a></p></li>
<li><p><a href="https://www.onlineclarity.co.uk/learn/beginners/4-overview-of-a-reading/getting-started-with-interpretation/" target="_blank">How do I interpret a reading?</a></p></li>
<li><p><a href="../#About">About this website and the new technology behind it...</a></p></li>
</ul>

{% for c in simple_result %}
<h1>Consultation {{ cid }}:</h1>
<h2>Query:</h2>
<h4>{{ c.query }}</h4>
<h2>Response:</h2>
<h4>{{ c.initial }}{% if line_result %}{% for l in line_result %}.{{ l.line }}{% if forloop.last %} &rarr; {{ l.result }}{% endif %}{% endfor %}{% endif %}</h4>
<h3>The context of the enquiry is:</h3>
<p><font color="#0000FF"><b>{{ c.initial }} {{ c.initial_name }}</b></font></p>
<p><font color="#0000FF">{{ c.initial_gnostic }}.. {{ c.initial_desc }}</font></p>
{% endfor %}

{% if line_result %}
    {% for c in line_result %}
        {% if forloop.first %}
            <h3>The related factor is: <small>(Use your intuition to decide how this is related to the enquiry.)</small></h3>
            <p><font color="#008000"><b>{{ c.result }} {{ c.result_name }}</b></font></p>
            <p><font color="#008000">{{ c.result_gnostic }}.. {{ c.result_desc }}</font></p>
            <h3>Specific pronouncements within the context of the enquiry:</h3>
            <ul>
        {% endif %}
        <li>
        <h3>Line {{ c.line }} of {% for s in simple_result %} {{ s.initial }} {% endfor %}: <small>(Inspiration) {{ c.line_name }} ({{ c.line_desc }})</small></h3>
        <p><strong>In the context of:</strong> <font color="#708090"><b>{{ c.context }} {{ c.context_name }}:</b> <i>{{ c.context_gnostic }}.. {{ c.context_desc }}</i></font></p>
        <p><strong>The pronouncement is:</strong> <font color="#0000FF">{{ c.line_trans }}</font></p>
        <p><font color="#0000FF">{{ c.line_comm }}</font></p>
        <h3>There is interplay with line {{ c.m_line }} of {% for s in simple_result %} {{ s.mirror }} {% endfor %}: <small>(Manifestation) {{ c.m_line_name }} ({{ c.m_line_desc }})</small></h3>
        <p><strong>In the context of:</strong> <font color="#708090"><b>{{ c.m_context }} {{ c.m_context_name }}:</b> <i>{{ c.m_context_gnostic }}.. {{ c.m_context_desc }}</i></font></p>
        <p><strong>The pronouncement is:</strong> <font color="#800080">{{ c.m_trans }}</font></p>
        <p><font color="#800080">{{ c.m_comm }}</font></p>
        </li>
        {% if forloop.last %}
            </ul>
            {% for s in simple_result %}
            <h3>The interplay lines were in: <small>(The mirror hexagram.)</small></h3>
            <p><font color="#800080"><b>{{ s.mirror }} {{ s.mirror_name }}</b></font></p>
            <p><font color="#800080">{{ s.mirror_gnostic }}.. {{ s.mirror_desc }}</font></p>
            {% endfor %}
            <h3>The inner change operator is: <small>(The inner transformative aspects of change. An inner stance or strategy towards the inner world.)</small></h3>
            <p><font color="#666633"><b>{{ c.innerop }} {{ c.i_name }}</b></font></p>
            <p><font color="#666633">{{ c.i_gnostic }}.. {{ c.i_desc }}</font></p>
            <h3>The outer change operator is: <small>(The outer transformative aspects of change. An outer stance or strategy towards the outer world.)</small></h3>
            <p><font color="#996633"><b>{{ c.outerop }} {{ c.o_name }}</b></font></p>
            <p><font color="#996633">{{ c.o_gnostic }}.. {{ c.o_desc }}</font></p>
        {% endif %}
    {% endfor %}
{% endif %}

{% for c in simple_result %}
<h3>The hidden possibility in the situation is:</h3>
<p><font color="#9966ff"><b>{{ c.hidden }} {{ c.h_name }}</b></font></p>
<p><font color="#9966ff">{{ c.h_gnostic }}.. {{ c.h_desc }}</font></p>
<h3>The shadow site is: <small>(What is counter-indicated in your situation, covered by a negative screen that is blocking transformative energy.)</small></h3>
<p><font color="#cc0000"><b>{{ c.shadow }} {{ c.s_name }}</b></font></p>
<p><font color="#cc0000">{{ c.s_gnostic }}.. {{ c.s_desc }}</font></p>
{% endfor %}

{% for c in simple_result %}
<h3>Notes:</h3>
<p>{{ c.notes }}</p>
<h3>Conclusion:</h3>
<p>{{ c.conclusion }}</p>
{% endfor %}

<p>Note: This is a full reading but there is only one paragraph to summarise each hexagram. Please refer to a more complete text, such as <a href="http://inthefamilyway.org/iching/hexagrams/" target="_blank">I Ching: Mothering Change</a>, for more details on the hexagrams.</p>
